<style>
    .w-5{
        width: 100px;
        margin-left: auto;
        margin-right: 100px;
        margin-top: 14px;
        margin-bottom: 14px;
    }
    .welcome{
        margin-left: 100px;
        margin-right: 100px;
    }
</style>


<div class="container-fluid">

    <div class="row">
        <header class="bg-success text-white p-3" style="height: 15vh;">
            <h1 class="text-center "><b>Todos los productos</b></h1>
        </header>
    </div>

    <div class="row d-flex flex-row justify-content-end w-5">
        <a href="https://entrega-backend-api.onrender.com//logout" class="btn btn-success">Salir</a>
    </div>


    <div class="welcome d-flex justify-content-between">
        <h4>Bienvenido, {{user.name}}</h4>
        <h4>Rol: {{user.rol}}</h4>
        <a  href="https://entrega-backend-api.onrender.com/updateProfile" class="btn btn-outline-success">Actualizar informacion de Perfil</a>
    </div>

    <div class="row container-products d-flex flex-row ">
    
    {{#each products}}

        <div class="product w-25 p-3 d-flex flex-column align-items-center">
            <h3>{{this.title}}</h2>
            <h4>{{this.description}}</h4>
            <h5>Codigo: {{this.code}}</h5>
            <h5>Precio: ${{this.price}}</h5>
            <button class="btn btn-outline-primary">Agregar al Carrito</button>
        </div>

    {{/each}}


    </div>

</div>
